*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    background-image: url(../images/bg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
header{
    background-color: white;
    height: 80px;
    margin-top: 0;
    border-bottom: solid 1px #CCC;
}
.logo{
    background-image: url(../images/logo.jpg);
    height: 60px;
    width: 200px;
    margin-top: 10px;
}
.reserver-louvre{
    max-width: 680px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 50px 0;
    margin: 100px auto 0 auto;
}

.reserver-louvre h1{
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 30px 0;
}
.info-louvre{
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 18px;
    color: #e2c10c;
}
.billet-perdu{
    margin: 20px 0 0 0;
    font-weight: bold;
}
.reserver-louvre a{
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}
.btn-reserv{
    background: rgba(226, 206, 59, 0.8);
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.control-label, .help-block, legend, label{
    text-shadow: 0px 1px 1px #000000;
    color: #ffffff;
}
.help-block{
    color: #ffffff;
}
.btn-reserv:hover{
    background: rgba(226, 206, 59, 0.9);
    color: white;
}
.bg-carte{
    color: rgb(255, 100, 100);
    text-shadow: 0px 1px 1px #000000;
    padding-bottom: 10px;
    font-weight: bold;
    display:none;
}
#help-demi-journee{
    margin-bottom: 0;
    display:none;
}

form{
    padding: 0 15px;
    
}
input{
    border: solid 1px #9a9a9a;
    border-radius: 0;
    font-size: 14px;
    padding: 15px;
}
@media (min-width: 768px) {
.reserver-louvre{
    padding: 50px 80px;
}
}